# created by virtualenv automatically
# Ignore the pyenv.cfg file
pyenv.cfg

# Ignore the Lib/site-packages directory
Lib/site-packages/

# Ignore the Scripts folder
Scripts/

*.env
*.pyc
*.cfg
__pycache__/


